footer {
  background-color: #00031d;
  margin: 0px;
  width: calc(100% - 40px);
  margin: 0px;
  padding: 0px 20px;
}

.footer {
  max-width: 1200px;
  padding-top: 80px;
  display: grid;
  justify-items: center;
  margin: 0 auto;
}

.footer img {
  justify-self: start;
}

.footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px 100px;
  margin-top: 56px;
  margin-bottom: 120px;
}

.footer li {
  text-decoration: none;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #f2f4ff;
  max-width: 160px;
  font-family: "krona One", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 750px) {
  .footer ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer ul {
    grid-template-columns: 1fr;
  }
}
