html,
body {
  margin: 0px;
  padding: 0px;
}

button {
  color: white;
  border: none;
  cursor: pointer;
  background-color: #0dafa5;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: Krona One, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

button:hover {
  background-color: #0056b3;
}

#root {
  background-image: linear-gradient(#000633, #043e3b);
  width: 100%;
}

.background {
  background-image: linear-gradient(#000633, #043e3b);
  width: 100%;
  color: #f2f4ff;
}

form,
label,
input,
button {
  display: block;
}

label {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  margin-bottom: 12px;
}

input {
  border-color: aqua;
  border-radius: 4px;
  font-size: 20px;
  width: 300px;
  height: 30px;
  margin-bottom: 24px;
}
